RewriteEngine On
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]
RewriteRule ^ ./.*

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://spacex.novoselski.net/$1 [R,L]