body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/images/bg.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    height: 100vh;
}

.logo-image {
    width: 150px;
    margin-left: 1em;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: -ms-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: -moz-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: -o-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-50, #480A8C), color-stop(100, #BB54AB));
    background-image: -webkit-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: linear-gradient(to top, #480A8C -50%, #BB54AB 100%);
    opacity: 0.5;
}

.home-container-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-image: -ms-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: -moz-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: -o-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-50, #480A8C), color-stop(100, #BB54AB));
    background-image: -webkit-linear-gradient(bottom, #480A8C -50%, #BB54AB 100%);
    background-image: linear-gradient(to top, #480A8C -50%, #BB54AB 100%);
    opacity: 0.5;
}

.bg-none {
    background: none;
}

.box-shadow-none {
    box-shadow: none;
}

.link-c, .link:hover {
    color: #480A8C !important;

}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.patch-image {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 100px;
}

.patch-img {
    width: 100px;
}

.column-display {
    flex-direction: column;
    display: flex;
    width: 15%;

}

@media only screen and (max-width: 600px) {
    .column-display {
        width: 70%;
    }

    .patch-image {
        display: none;
    }

    .h-50vh {
        height: 100vh;
    }
}

.w-80 {
    width: 80%;
}

.h-50vh {
    height: 50vh;
}

.h-200vh {
    height: 100vh;
}

.text-shadow {
    text-shadow: 1px 2px 3px #666;
}

.paragraph-l {
    background-color: #8F29B4;
    border-radius: 10px;
    padding: 20px;
    margin-top: 1em;
}

.font-size-22 {
    font-size: 18px;
}

.font-size-36 {
    font-weight: bold;
    font-size: 36px;
}